#####################################################################
#   Macros
#####################################################################
#    STATUS_READY
#    STATUS_OFF
#    STATUS_BUSY
#    STATUS_HEATING
#    STATUS_LEVELING
#    STATUS_HOMING
#    STATUS_CLEANING
#    STATUS_MESHING
#    STATUS_CALIBRATING_Z
#    STATUS_PRINTING


[gcode_macro CG28]
gcode:
    {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
    STATUS_HOMING
    M117 > Homing
    G28
    M117 > Homing finished
    {% endif %}


[gcode_macro G32]
gcode:
    SAVE_GCODE_STATE NAME=STATE_G32
    G90
    STATUS_BUSY
    CG28
    CLEAN_NOZZLE
    M117 > QGL
    QUAD_GANTRY_LEVEL
    M117 > QGL finished
    STATUS_HOMING
    G28 Z
    
    ##  Uncomment for 300 build
    STATUS_READY
    G0 X150 Y150 Z10 F30000

    RESTORE_GCODE_STATE NAME=STATE_G32

[gcode_macro CREATE_MESH]
gcode:
    BED_MESH_CLEAR
    G32
    BED_MESH_CALIBRATE PROFILE=start_print PROBE_COUNT=5 RELATIVE_REFERENCE_INDEX=12

#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
[gcode_macro START_PRINT]
gcode:
    {% set th = printer.toolhead %}
    {% set BED_TEMP = params.BED_TEMP|default(0)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(0)|float %}
    # Start and wait for bed and extruder heating for probing with TAP
    # Heat bed first to allow soaking
    _RESET_PRINT_SETTINGS  
    STATUS_HEATING
    M190 S{BED_TEMP+10}
    M109 S160
    M190 S{BED_TEMP}
    # Use absolute coordinates
    G90
    # Reset the G-Code Z offset (adjust Z offset if needed)
    SET_GCODE_OFFSET Z=0.0
    # Home XYZ and do QGL (G32 macro)
    G32

    # Clear active mesh and create new mesh for print
    STATUS_MESHING
    #BED_MESH_CALIBRATE PROFILE=start_print PROBE_COUNT=5 RELATIVE_REFERENCE_INDEX=12
    BED_MESH_CALIBRATE

    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 10} Z30 F3600  ; park nozzle at rear

    # Start bed and extruder heating from print job
    STATUS_HEATING
    M190 S{BED_TEMP}
    M109 S{EXTRUDER_TEMP}

    # Clean the nozzle
    CLEAN_NOZZLE

    STATUS_PRINTING
    #G92 E0 ;Reset Extruder
    #G1 X1.0 Y295 Z2.0 F3000 ;Move to start position at height
    #G1 X1.0 Y295 Z0.28 F5000 ;Move to start position
    #G1 X1.0 Y150 Z0.28 F1500 E15 ;Draw the first line
    #G1 X1.2 Y150 Z0.28 F5000 ;Move to side a little
    #G1 X1.2 Y295 Z0.28 F1500.0 E30 ;Draw the second line
    #G92 E0 ;Reset Extruder
    #G1 Z5.0 F3000 ;Move Z Axis up
    ADAPTIVE_PURGE

#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
[gcode_macro PRINT_END]
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    {% set z_safe2 = [th.position.z + 50, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-5.0 F1800                 ; retract filament
    
    TURN_OFF_HEATERS
    
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 10} Z{z_safe2} F3600  ; park nozzle at rear
    M107                                     ; turn off fan
    STATUS_READY
    BED_MESH_CLEAR
    M117 Finished/Standby
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END


